*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none ;
    border: none ;
    outline: none;
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    background-color: var(--main-bg-color);
}

:root{
    --main-bg-color: #CDC2AE;
    --main-color:#C2DEDC;
    --min-bg-color: #ECE5C7;
    --light-color:  #1f9bb4;
    --darker-color:  #084a57;
    --second-bg-color:  #116A7B;
    --first-text-color:#ffffff;
    --red-color:#ff0000;
    --yellow-color:#d1e965;
}

html {
    background: var(--main-bg-color);
    color: var(--first-text-color);
   
}

.logo  {
    color: var(--main-color);
    font-weight: 600;
    cursor: pointer;
    font-size:  2.5rem;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--first-text-color);
}

.navbar{
    position: fixed ;
    top: 0%;
    left: 0%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:var(--second-bg-color);
    color: var(--first-text-color);
    padding: 20px 50px;
    

}

.header{
    flex-wrap: wrap;
    padding: 3rem 9%;
    z-index: 100;
}


/* DISPLAY FOR LARGE ITEMS IN THE STORE */

.item {
    background-color:var(--min-bg-color);
    border-style:solid dashed;
  
}

.leaf-radius{
    border-top-left-radius: 10px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 4px;

}

.imgItemContainer{
    display: flex;
    flex-direction: row;
    justify-content:center;
  
}

.imgItem{
    padding: 4px;
    width: 250px;
    height: 250px;
    border-radius: 10px 50px 10px 30px;

}

.imgItemSmall{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    
}


.cart{
    position:relative;
    background-color: var(--light-color);
    color: var(--main-color);
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
}

/* MINI ITEMS IN THE CART */
.cart-item{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    background-color: var(--min-bg-color);
    border-radius: 20px 10px 10px 20px;
    border-style:solid dashed;
}
  
.cartAmount{
    position: absolute;
    top: -15px; left: 32px;
    background-color:var(--light-color);
    color: var(--first-text-color);
    padding: 5px;
    font-size: 12px;
    font-weight: bolder;
    border-radius:50%;
    border: 2px solid;
    border-color: var(--first-text-color);
}

.cart-card{
    display: flex;
    justify-content: center;
}

i {cursor: pointer;}


/* CART ITEM*/

.shop{
    display: grid;
    grid-template-columns: repeat(6, 250px);
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
}


.shop-section{
    min-height: 100vh;
    max-width: 100vmax;
}


.shopping-cart{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 15px;
    justify-content: center;

}

.removeItemButton{
    height: 30px;
    margin-left: -15px;
}

.details {
    background-color:var(--light-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    margin: 5px;
    border-radius: 10px 10px 10px 10px;
    max-height: 100px; overflow: auto !important;
}



.details-mini {
    width: 250px;
    height: 100px;
    background-color:var(--light-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    margin: 4px;
    border-radius: 10px 10px 10px 10px;
    
}

.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:var(--second-bg-color);
 
}
.mini-price-x{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-price-x{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-price{
    display: flex;
    width: 230px;
    overflow: hidden;
}

.cart-item-price{
    background-color: var(--light-color);
    color: var(--first-text-color);
    padding: 0px 3px;
    border-radius: 4px;
    text-align: center;   
}

@media (max-width: 1600px){
    .shop{
        grid-template-columns: repeat(5, 250px);
    }

    .shopping-cart{
        display: grid;
        grid-template-columns: repeat(2, 400px);
        gap: 15px;
        justify-content: center;
    
    }
}

@media (max-width: 1300px){
    .shop{
        grid-template-columns: repeat(4, 250px);
    }

    .shopping-cart{
        display: grid;
        grid-template-columns: repeat(2, 400px);
        gap: 15px;
        justify-content: center;
    
    }
}

@media (max-width: 1200px){
    .shop{
        grid-template-columns: repeat(3, 250px);
    }

    .shopping-cart{
        display: grid;
        grid-template-columns: repeat(2, 400px);
        gap: 15px;
        justify-content: center;
    
    }
    
}

@media (max-width: 1000px){
    .shop{
        grid-template-columns: repeat(3, 250px);
    }

    .shopping-cart{
        display: grid;
        grid-template-columns: repeat(2, 400px);
        gap: 15px;
        justify-content: center;
    
    }
    
}

@media (max-width: 900px){
    .shop{
        grid-template-columns: repeat(2, 250px);
    }

    .shopping-cart{
        display: grid;
        grid-template-columns: repeat(1, 400px);
        gap: 15px;
        justify-content: center;
    
    }
}

@media (max-width: 768px){
    .shop{
        grid-template-columns: repeat(2, 250px);
    }

    .shopping-cart{
        display: grid;
        grid-template-columns: repeat(1, 210px);
        gap: 15px;
        justify-content: center;
    
    }
}

@media (max-width: 600px){
    .shop{
        grid-template-columns: repeat(1, 250px);
    }

    .shopping-cart{
        display: grid;
        grid-template-columns: repeat(1, 210px);
        gap: 15px;
        justify-content: center;
    
    }

}

@media (max-width: 480px){
    .shop{
        grid-template-columns: repeat(1, 250px);
    }

    .shopping-cart{
        display: grid;
        grid-template-columns: repeat(1, 210px);
        gap: 15px;
        justify-content: center;
    
    }
}

@media (max-width: 320px){
    .shop{
        grid-template-columns: repeat(1, 250px);
    }

    .shopping-cart{
        display: grid;
        grid-template-columns: repeat(1, 120px);
        gap: 15px;
        justify-content: center;
    
    }
}

.darker-text{
color: var(--darker-color);
}

.button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size:  20px;
}

.HomeBtn, .checkout, .removeAll{
    background-color: var(--second-bg-color);
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size:  20px;
    cursor: pointer;
}

.checkout{
    background-color: var(--light-color);
    color: var(--first-text-color);
}

.removeAll{
    background-color: var(--red-color);
    color: var(--first-text-color);
}

.text-center{
    text-align: center;
    margin-bottom: 20px;
}

.bi-dash-square-dotted{
    font-weight: bolder;
    border-radius: 4px;
    background-color: var(--red-color);
    color: var(--first-text-color);
}
.bi-plus-square-dotted{
    font-weight: bolder;
    border-radius: 4px;
    background-color: var(--darker-color);
    color: var(--first-text-color);
}

.bi-x-circle{
    color: rgb(255, 255, 255);
    background-color: var(--darker-color);
    border-radius: 100px;
    font-weight: bold;
    font-size:  30px;
}

span{
    color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    transition: .5s ease;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
}

::placeholder {
    color: var(--red-color);
}

.footer{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 4%;
    background: var(--main-bg-color);
}

.footer-text p{
    font-size: 1.4rem;
    color: var(--darker-color);
}

.footer-iconTop a {
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem ;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem ;
    color: var(--second-bg-color);
}

.contact form .input-box input{
    width: 48%;
}